* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}
main {
  margin-top: 0px;
}
#showcase {
  background: linear-gradient(
      to bottom,
      rgb(244, 132, 132, 0.2),
      rgb(117, 10, 10, 0.2)
    ),
    url("../img/bg1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  height: 80vh;
  width: 100%;
  padding: 10px;
  position: relative;
  margin: 0;
}
#showcase .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  background: rgba(46, 76, 109, 0.3);
  padding: 20px;
  width: 60%;
  border-radius: 25px;
}
#showcase h1 {
  position: absolute;
  margin: 0;
  font-size: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-header {
  background-color: #f48484;
  padding: 8px 16px;
}
.main-nav {
  display: inline-block;
  width: calc(100% - 99px);
  text-align: right;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
  margin: 0px 10px;
}
.main-header__logo {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 21px;
}
.main-nav__item a {
  text-decoration: none;
  color: #fff;
}

.main-nav__item a:hover,
.main-nav__item:hover::before {
  color: blue;
}

.main-nav__item a:active::before,
.main-nav__item a:active {
  color: #40513b;
}
.main-nav__item:hover::before {
  color: blue;
}

.main-nav__item--login::before {
  content: none;
}

#how-it-works {
  padding: 10px;
  text-align: center;
}
.row {
  margin-top: 40px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}
.col-4 {
  float: left;
  width: 25%;
}

.col-3 {
  float: left;
  width: 33.3%;
}
.col-2 {
  float: left;
  width: 50%;
}
.icon-box h3 {
  color: gray;
  font-size: 26px;
}

.icon-box i {
  color: #a61f69;
}
.features__left {
  background: linear-gradient(
      to bottom,
      rgb(244, 132, 132, 0.2),
      rgb(117, 10, 10, 0.2)
    ),
    url("../img/film.jpg");
  background-size: cover;
  background-position: top center;
}
.features__right {
  background-color: #edf5f7;
  padding: 40px;
  vertical-align: top;
}
.features__left,
.features__right {
  height: 350px;
}
.features__right h3 {
  font-size: 30px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 30px;
  color: gray;
}
.plan {
  text-align: center;
  padding: 5px;
}
.plan__badge {
  background-color: white;
  color: #fc997c;
  padding: 8px;
  border-radius: 5px;
}
.recommended_plan {
  color: white;
  background: #396eb0 !important;
}
.inner-plan {
  background-color: #edf5f7;
  padding: 25px 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: box-shadow 0.6s;
}
.inner-plan:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}
.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.plan--featured {
  position: relative;
  top: -20px;
}
.plan__features li {
  margin: 6px 0px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.container {
  margin: 0 auto;
  /* width: 1000px; */
}
#backtotap {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
#backtotap i {
  color: #b31aff;
  font-size: 45px;
}
#backtotap i:hover {
  color: #8800cc;
  transition: color 0.6s;
}
.counter {
  background: linear-gradient(to bottom, #fc997c 0%, #fc8b69 100%);
  text-align: center;
  padding: 50px;
}

.counter__item {
  font-size: 30px;
  font-weight: 500;
  color: #eb2424;
}

.counter h4 {
  margin: 0;
  color: #790202;
}
.card {
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  box-shadow: 10px 10px 40px rgba(52, 58, 64, 0.1);
  padding: 10px;
  position: relative;
  top: 0;
  transition: all 0.3s;
}
.card:hover {
  top: -20px;
}
.card-body {
  padding: 30px;
}

.img-fluid {
  width: 100%;
}
.card-container {
  padding: 10px;
}
footer {
  background-color: #2e4c6d;
  padding: 30px;
  margin-top: 30px;
  position: relative;
  bottom: -200px;
}
footer a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 5px;
}
.social-links {
  text-align: right;
}
.fab {
  padding: 10px;
  font-size: 25px;
  border-radius: 50%;
}
.fab:hover {
  padding: 10px;
  font-size: 25px;
  opacity: 0.7;
}
.fa-facebook {
  background-color: #3b5998;
  color: #fff;
}
.fa-twitter {
  background-color: #55acee;
  color: #fff;
}

.fa-instagram {
  background-color: #125688;
  color: #fff;
}
